<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./nlog-internal.txt"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      internalLogToTrace="true"
      internalLogIncludeTimestamp="true"
      throwExceptions="true"
      throwConfigExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.DiagnosticSource" />
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<time type="FastLocal" />
	<!-- the targets to write to -->
	<targets>
		<default-wrapper xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="10000" batchSize="200"
		                 timeToSleepBetweenBatches="1" />
		<target xsi:type="ApplicationInsightsTarget"
		        name="aiTarget">
			<instrumentationKey>${environment:APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>
			<!-- Only required if not using ApplicationInsights.config -->
			<contextproperty name="threadid" layout="${threadid}" />
			<!-- Can be repeated with more context -->
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Information" final="true" />

		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="aiTarget" />
	</rules>
</nlog>